.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.header .top {
  background-color: #000000;
  padding: 6px 0;
}
.header .top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top .container .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top .container .cart .cart-shop {
  margin-right: 40px;
}
.header .top .container .cart .cart-shop img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .header .top .container .cart .cart-shop {
    margin-right: 10px;
  }
}
.header .top .container .cart .login {
  margin-right: 40px;
}
@media only screen and (max-width: 576px) {
  .header .top .container .cart .login {
    margin-right: 10px;
  }
}
.header .top .container .cart .login a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.header .top .container .cart .login a:hover {
  color: #f6b653;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .top .container .cart .register a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.header .top .container .cart .register a:hover {
  color: #f6b653;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .navbar-bottom {
  padding: 18px 0;
}
@media only screen and (max-width: 576px) {
  .header .navbar-bottom .container {
    text-align: center;
  }
}
.header .navbar-bottom .container a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
@media only screen and (max-width: 576px) {
  .header .navbar-bottom .container a {
    margin-right: 10px;
  }
}
.header .navbar-bottom .container a:hover {
  color: #f6b653;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .top {
  padding: 30px;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .footer .top {
    padding-bottom: 0;
  }
}
.footer .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .footer .container .row {
    display: block;
  }
}
.footer .container .row .top-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .container .row .top-item ul {
  padding-left: 0;
}
.footer .container .row .top-item ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer .container .row .top-item ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}
.footer .container .row .top-item ul li a:hover {
  color: #fc0303;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .top-item {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .container .row .top-item:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .top-item:nth-child(2) {
    border: none;
    padding: 0;
  }
}
.footer .container .row .item-register {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
.footer .container .row .item-register h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .container .row .item-register .des {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.footer .container .row .item-register a {
  font-size: 14px;
  font-weight: 300;
  color: #fc0303;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .item-register {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom {
  padding: 30px;
  background-color: #f5f5f5;
}
.footer .bottom .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom .container .row .bottom-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .bottom .container .row .bottom-item p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.footer .bottom .container .row .bottom-item a {
  font-size: 14px;
  font-weight: 300;
  color: #fc0303;
  text-decoration: none;
}
.footer .bottom .container .row .bottom-item:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item:nth-child(2) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom .container .row .bottom-item:nth-child(3) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item:nth-child(3) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}

.product-cart {
  padding: 180px 0 30px 0;
}
.product-cart .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .product-cart .container .row {
    display: block;
  }
}
.product-cart .container .row .cart-img {
  width: 45%;
  padding: 0 30px;
}
@media only screen and (max-width: 768px) {
  .product-cart .container .row .cart-img {
    width: 100%;
    padding: 0;
  }
}
.product-cart .container .row .cart-img .img {
  background-color: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .product-cart .container .row .cart-img .img {
    padding: 0;
    text-align: center;
  }
}
.product-cart .container .row .cart-img .img img {
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .product-cart .container .row .cart-img .img img {
    width: 100%;
  }
}
.product-cart .container .row .cart-info {
  width: 55%;
}
@media only screen and (max-width: 768px) {
  .product-cart .container .row .cart-info {
    width: 100%;
    padding: 15px;
  }
}
.product-cart .container .row .cart-info .name-description .name {
  font-size: 30px;
  font-weight: 300;
  color: #000000;
}
.product-cart .container .row .cart-info .name-description .des {
  font-size: 16px;
  font-weight: 300;
  color: #140101;
}
.product-cart .container .row .cart-info .product-size h4 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  color: #1ed90e;
}
.product-cart .container .row .cart-info .product-size .size span {
  cursor: pointer;
  background-color: #cccccc;
  padding: 3px;
  margin-right: 5px;
  font-size: 24px;
  font-weight: 700;
  color: #1e1d1d;
}
.product-cart .container .row .cart-info .product-size .size span:hover {
  background-color: #f5f5f5;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.product-cart .container .row .cart-info .product-size .size:last-child {
  margin: 0;
}
.product-cart .container .row .cart-info .product-size .cost {
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
  color: #fc0303;
}
.product-cart .container .row .cart-info .product-size .plus-minus {
  margin-bottom: 30px;
}
.product-cart .container .row .cart-info .product-size .plus-minus .plus {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  line-height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6181f3), to(#7c97f5));
  background-image: linear-gradient(#6181f3, #7c97f5);
}
.product-cart .container .row .cart-info .product-size .plus-minus .plus:hover {
  background-color: #6181f3;
}
.product-cart .container .row .cart-info .product-size .plus-minus .plus i {
  font-size: 30px;
  font-weight: 400;
  color: #fffcfc;
}
.product-cart .container .row .cart-info .product-size .plus-minus span {
  margin: 0 20px;
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.product-cart .container .row .cart-info .product-size .plus-minus .minus {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px;
  line-height: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6181f3), to(#7c97f5));
  background-image: linear-gradient(#6181f3, #7c97f5);
}
.product-cart .container .row .cart-info .product-size .plus-minus .minus i {
  font-size: 30px;
  color: #fffcfc;
}
.product-cart .container .row .cart-info .product-size .btn-addtocart {
  font-size: 24px;
  font-weight: 400;
  color: #fff8f8;
  background-image: -webkit-gradient(linear, right top, left top, color-stop(5.14%, rgba(62, 32, 248, 0.9)), color-stop(89.71%, #d017ee));
  background-image: linear-gradient(270deg, rgba(62, 32, 248, 0.9) 5.14%, #d017ee 89.71%);
  padding: 10px 30px;
  border: none;
  border-radius: 0;
  opacity: 1;
}
.product-cart .container .row .cart-info .product-size .btn-addtocart:hover {
  color: yellow;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6181f3), to(#7c97f5));
  background-image: linear-gradient(#6181f3, #7c97f5);
  border: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.product-detail {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.product-detail .container {
  padding: 0 99px;
}
@media only screen and (max-width: 992px) {
  .product-detail .container {
    padding: 0 15px;
  }
}
.product-detail .container h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
}
@media only screen and (max-width: 576px) {
  .product-detail .container h2 {
    font-size: 30px;
    font-weight: 400;
    color: #000000;
  }
}
.product-detail .container .list-shoes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
@media only screen and (max-width: 768px) {
  .product-detail .container .list-shoes {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 576px) {
  .product-detail .container .list-shoes {
    display: block;
    text-align: center;
  }
}
.product-detail .container .list-shoes .shoes-item {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.product-detail .container .list-shoes .shoes-item .info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.product-detail .container .list-shoes .shoes-item .info .img {
  padding: 45px 57px 0 57px;
}
@media only screen and (max-width: 992px) {
  .product-detail .container .list-shoes .shoes-item .info .img {
    padding: 20px;
  }
}
.product-detail .container .list-shoes .shoes-item .info .img img {
  width: 100%;
}
.product-detail .container .list-shoes .shoes-item .info .desc {
  padding: 0 23px;
}
.product-detail .container .list-shoes .shoes-item .info .desc .name {
  font-size: 24px;
  font-weight: 300;
  color: #000000;
}
.product-detail .container .list-shoes .shoes-item .info .desc .des {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 20px;
  font-weight: 300;
  color: #cbc9c9;
}
.product-detail .container .list-shoes .shoes-item .buy-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product-detail .container .list-shoes .shoes-item .buy-cost .btn-buy {
  width: 50%;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 24px;
  font-weight: 300;
  color: #000000;
  background-color: #e1b067;
  border: none;
  padding: 10px 30px;
  border-radius: 0;
  cursor: pointer;
}
.product-detail .container .list-shoes .shoes-item .buy-cost .btn-buy:hover {
  color: #ffffff;
  border: none;
  background-color: #f6b653;
}
@media only screen and (max-width: 992px) {
  .product-detail .container .list-shoes .shoes-item .buy-cost .btn-buy {
    font-size: 24px;
    font-weight: 300;
    color: #000000;
    background-color: #e1b067;
    border: none;
    padding: 10px 15px;
    border-radius: 0;
    cursor: pointer;
  }
  .product-detail .container .list-shoes .shoes-item .buy-cost .btn-buy:hover {
    color: #ffffff;
    border: none;
    background-color: #f6b653;
  }
}
.product-detail .container .list-shoes .shoes-item .buy-cost .cost {
  width: 50%;
  padding: 10px 30px;
  background-color: #dedddc;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}
@media only screen and (max-width: 768px) {
  .product-detail .container .list-shoes .shoes-item .buy-cost .cost {
    padding: 10px 15px;
  }
}