.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.header .top {
  background-color: #000000;
  padding: 6px 0;
}
.header .top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top .container .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .top .container .cart .cart-shop {
  margin-right: 40px;
}
.header .top .container .cart .cart-shop img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .header .top .container .cart .cart-shop {
    margin-right: 10px;
  }
}
.header .top .container .cart .login {
  margin-right: 40px;
}
@media only screen and (max-width: 576px) {
  .header .top .container .cart .login {
    margin-right: 10px;
  }
}
.header .top .container .cart .login a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.header .top .container .cart .login a:hover {
  color: #f6b653;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .top .container .cart .register a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.header .top .container .cart .register a:hover {
  color: #f6b653;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.header .navbar-bottom {
  padding: 18px 0;
}
@media only screen and (max-width: 576px) {
  .header .navbar-bottom .container {
    text-align: center;
  }
}
.header .navbar-bottom .container a {
  text-decoration: none;
  margin-right: 40px;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
@media only screen and (max-width: 576px) {
  .header .navbar-bottom .container a {
    margin-right: 10px;
  }
}
.header .navbar-bottom .container a:hover {
  color: #f6b653;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .top {
  padding: 30px;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .footer .top {
    padding-bottom: 0;
  }
}
.footer .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .footer .container .row {
    display: block;
  }
}
.footer .container .row .top-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .container .row .top-item ul {
  padding-left: 0;
}
.footer .container .row .top-item ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer .container .row .top-item ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}
.footer .container .row .top-item ul li a:hover {
  color: #fc0303;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .top-item {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .container .row .top-item:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .top-item:nth-child(2) {
    border: none;
    padding: 0;
  }
}
.footer .container .row .item-register {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
.footer .container .row .item-register h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .container .row .item-register .des {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.footer .container .row .item-register a {
  font-size: 14px;
  font-weight: 300;
  color: #fc0303;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .item-register {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom {
  padding: 30px;
  background-color: #f5f5f5;
}
.footer .bottom .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom .container .row .bottom-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .bottom .container .row .bottom-item p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.footer .bottom .container .row .bottom-item a {
  font-size: 14px;
  font-weight: 300;
  color: #fc0303;
  text-decoration: none;
}
.footer .bottom .container .row .bottom-item:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item:nth-child(2) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom .container .row .bottom-item:nth-child(3) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item:nth-child(3) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}