.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  left: 0;
}
.header .top {
  background-color: #000000;
  padding: 6px 0;
}
.header .top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .top .container .cart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header .top .container .cart .cart-shop {
  margin-right: 40px;
}
.header .top .container .cart .cart-shop img:hover {
  cursor: pointer;
}
@media only screen and (max-width: 576px) {
  .header .top .container .cart .cart-shop {
    margin-right: 10px;
  }
}
.header .top .container .cart .login {
  margin-right: 40px;
}
@media only screen and (max-width: 576px) {
  .header .top .container .cart .login {
    margin-right: 10px;
  }
}
.header .top .container .cart .login a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.header .top .container .cart .login a:hover {
  color: #f6b653;
  cursor: pointer;
  transition: all 0.5s;
}
.header .top .container .cart .register a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}
.header .top .container .cart .register a:hover {
  color: #f6b653;
  cursor: pointer;
  transition: all 0.5s;
}
.header .navbar-bottom {
  padding: 18px 0;
}
@media only screen and (max-width: 576px) {
  .header .navbar-bottom .container {
    text-align: center;
  }
}
.header .navbar-bottom .container a {
  text-decoration: none;
  margin-right: 40px;
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
}
@media only screen and (max-width: 576px) {
  .header .navbar-bottom .container a {
    margin-right: 10px;
  }
}
.header .navbar-bottom .container a:hover {
  color: #f6b653;
  cursor: pointer;
  transition: all 0.5s;
}
.header .navbar-bottom .container a:hover::after {
  transform: scale(1, 1);
}
.header .navbar-bottom .container a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #f6b653;
  top: 30px;
  left: 0px;
  transform: scale(0, 0);
  transition: all 0.3s;
}

.footer .top {
  padding: 30px;
  background-color: #f8f8f8;
}
@media only screen and (max-width: 768px) {
  .footer .top {
    padding-bottom: 0;
  }
}
.footer .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .footer .container .row {
    display: block;
  }
}
.footer .container .row .top-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .container .row .top-item ul {
  padding-left: 0;
}
.footer .container .row .top-item ul li {
  list-style-type: none;
  margin-bottom: 10px;
}
.footer .container .row .top-item ul li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
  color: #000000;
}
.footer .container .row .top-item ul li a:hover {
  color: #fc0303;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .top-item {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .container .row .top-item:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .top-item:nth-child(2) {
    border: none;
    padding: 0;
  }
}
.footer .container .row .item-register {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
.footer .container .row .item-register h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .container .row .item-register .des {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.footer .container .row .item-register a {
  font-size: 14px;
  font-weight: 300;
  color: #fc0303;
  text-decoration: none;
}
@media only screen and (max-width: 768px) {
  .footer .container .row .item-register {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom {
  padding: 30px;
  background-color: #f5f5f5;
}
.footer .bottom .container .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom .container .row .bottom-item h4 {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer .bottom .container .row .bottom-item p {
  font-size: 14px;
  font-weight: 300;
  color: #000000;
  margin-bottom: 10px;
}
.footer .bottom .container .row .bottom-item a {
  font-size: 14px;
  font-weight: 300;
  color: #fc0303;
  text-decoration: none;
}
.footer .bottom .container .row .bottom-item:nth-child(2) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item:nth-child(2) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}
.footer .bottom .container .row .bottom-item:nth-child(3) {
  padding-left: 40px;
  border-left: 1px solid #cbc9c9;
}
@media only screen and (max-width: 768px) {
  .footer .bottom .container .row .bottom-item:nth-child(3) {
    border: none;
    padding: 0;
    margin-bottom: 20px;
  }
}

.backToTop {
  position: fixed;
  bottom: 50px;
  right: 50px;
  color: #f6b653;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}
.backToTop i {
  font-size: 40px;
}
.backToTop:hover {
  color: #000000;
}

.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.registers {
  position: relative;
  top: 80px;
  margin-bottom: 100px;
}
.registers .container h1 {
  text-align: center;
  margin: 50px 0;
  font-size: 40px;
  font-weight: 400;
  color: #000000;
  line-height: 48px;
}
.registers .container .main-res {
  display: flex;
}
@media only screen and (max-width: 576px) {
  .registers .container .main-res {
    display: block;
    padding: 0;
  }
}
.registers .container .main-res .res-left {
  width: 50%;
  padding: 0 50px 0 100px;
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-left {
    padding: 0 30px 0 50px;
  }
}
@media only screen and (max-width: 576px) {
  .registers .container .main-res .res-left {
    width: 100%;
    padding: 0 30px;
  }
}
.registers .container .main-res .res-left .res-row {
  border-bottom: 5px solid #ae18e2;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registers .container .main-res .res-left .res-row input {
  width: 80%;
  padding: 10px 0;
  line-height: 36px;
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #ae18e2;
}
.registers .container .main-res .res-left .res-row input::-moz-placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.registers .container .main-res .res-left .res-row input:-ms-input-placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.registers .container .main-res .res-left .res-row input::placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
@media only screen and (max-width: 992px) {
  .registers .container .main-res .res-left .res-row input::-moz-placeholder {
    font-size: 24px;
  }
  .registers .container .main-res .res-left .res-row input:-ms-input-placeholder {
    font-size: 24px;
  }
  .registers .container .main-res .res-left .res-row input::placeholder {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-left .res-row input::-moz-placeholder {
    font-size: 20px;
  }
  .registers .container .main-res .res-left .res-row input:-ms-input-placeholder {
    font-size: 20px;
  }
  .registers .container .main-res .res-left .res-row input::placeholder {
    font-size: 20px;
  }
}
.registers .container .main-res .res-left .res-row input:focus {
  outline: none;
}
@media only screen and (max-width: 992px) {
  .registers .container .main-res .res-left .res-row input {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-left .res-row input {
    font-size: 20px;
  }
}
.registers .container .main-res .res-left .res-row p {
  color: #fc0303;
  margin-left: 65px;
  font-size: 20px;
}
.registers .container .main-res .res-right {
  width: 50%;
  padding: 0 100px 0 50px;
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right {
    padding: 0 30px 0 50px;
  }
}
@media only screen and (max-width: 576px) {
  .registers .container .main-res .res-right {
    width: 100%;
    padding: 0 30px;
  }
}
.registers .container .main-res .res-right .res-row {
  border-bottom: 5px solid #ae18e2;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.registers .container .main-res .res-right .res-row input {
  width: 80%;
  padding: 10px 0;
  line-height: 36px;
  border: none;
  font-size: 30px;
  font-weight: 400;
  color: #ae18e2;
}
.registers .container .main-res .res-right .res-row input::-moz-placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.registers .container .main-res .res-right .res-row input:-ms-input-placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
.registers .container .main-res .res-right .res-row input::placeholder {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
}
@media only screen and (max-width: 992px) {
  .registers .container .main-res .res-right .res-row input::-moz-placeholder {
    font-size: 24px;
  }
  .registers .container .main-res .res-right .res-row input:-ms-input-placeholder {
    font-size: 24px;
  }
  .registers .container .main-res .res-right .res-row input::placeholder {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right .res-row input::-moz-placeholder {
    font-size: 20px;
  }
  .registers .container .main-res .res-right .res-row input:-ms-input-placeholder {
    font-size: 20px;
  }
  .registers .container .main-res .res-right .res-row input::placeholder {
    font-size: 20px;
  }
}
.registers .container .main-res .res-right .res-row input:focus {
  outline: none;
}
.registers .container .main-res .res-right .res-row p {
  color: #fc0303;
  margin-left: 65px;
  font-size: 20px;
}
.registers .container .main-res .res-right .gender {
  margin-top: 55px;
}
.registers .container .main-res .res-right .gender span {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-right: 30px;
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right .gender span {
    font-size: 20px;
  }
}
.registers .container .main-res .res-right .gender input {
  position: absolute;
  opacity: 0;
}
.registers .container .main-res .res-right .gender input + .label:before {
  content: "";
  background: #cccccc;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  top: 5px;
  right: 15px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
  box-shadow: 0 0 0 10px #cccccc;
}
@media only screen and (max-width: 1200px) {
  .registers .container .main-res .res-right .gender input + .label:before {
    display: block;
    top: 35px;
    right: -150px;
    margin-right: 50px;
  }
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right .gender input + .label:before {
    width: 20px;
    height: 20px;
    top: 20px;
    right: -100px;
  }
}
@media only screen and (max-width: 576px) {
  .registers .container .main-res .res-right .gender input + .label:before {
    display: block;
    top: 20px;
    right: -100px;
  }
}
.registers .container .main-res .res-right .gender input:checked + .label:before {
  background-color: #ae18e2;
}
.registers .container .main-res .res-right .gender .label {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-left: 36px;
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right .gender .label {
    font-size: 20px;
  }
}
.registers .container .main-res .res-right .btn-res {
  transition: all 0.3s;
  margin: 80px 0 50px 0;
  font-size: 30px;
  font-weight: 400;
  color: #fff8f8;
  background-color: #ae18e2;
  border: 2px solid #ae18e2;
  padding: 10px 100px;
  border-radius: 0;
  cursor: pointer;
}
.registers .container .main-res .res-right .btn-res:hover {
  color: #ae18e2;
  border: 2px solid #ae18e2;
  background-color: #fff8f8;
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right .btn-res {
    padding: 10px 60px;
  }
}
@media only screen and (max-width: 768px) {
  .registers .container .main-res .res-right .btn-res {
    font-size: 20px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 576px) {
  .registers .container .main-res .res-right .btn-res {
    width: 100%;
  }
}