@import "./helpers/variable";
@import "./helpers/mixin";
@import "./base/reset";
@import "./components/button";
@import "./layout/header";
@import "./layout/footer";
@import "./page/home/home.scss";
@import "./page/detail/detail.scss";
@import "./page/register/register.scss";

.product {
    padding: 30px 0;
    background-color: $bg-4th;

    .container {
        padding: 0 99px;

        h2 {
            text-align: center;
            @include text($text-fz-4xl, $text-fw-regular, $text-color-primary);
        }

        .list-shoes {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 50px;

            .shoes-item {
                background-color: $bg-primary;
                .info {
                    .img {
                        padding: 45px 57px 0 57px;
    
                        img {
                            width: 220px;
                        }
    
                        
                    }
                    .desc {
                        padding: 0 23px;
                        .name {
                            @include text ($text-fz-2xxl, $text-fw-light, $text-color-primary);
                        }
    
                        .des {
                            @include text ($text-fz-2xl, $text-fw-light, $text-color-2nd);
    
                        }
                    }
                }
                

                .buy-cost {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .btn-buy {
                        width: 50%;
                        // padding: 10px 30px;
                        // border: none;
                        // background-color: $bg-6th;
                        // font-size: $text-fz-2xxl;
                        transition: all 0.5s;
                        @include button($text-fz-2xxl,$text-fw-light,$text-color-primary,$bg-6th,10px 30px,none,0,$text-color-3nd,$bg-3nd,none);
                    }

                    .cost {
                        width: 50%;
                        padding: 10px 30px;
                        background-color: $bg-7th;
                        text-align: center;
                        @include text ($text-fz-2xxl,$text-fw-semibold,$text-color-primary);
                    }
                }

            }
        }
    }
}