@import "../helpers/mixin";
@import "../helpers/variable";

.footer {
    .top {
        padding: 30px 0;
        background-color: $bg-4th;
        .container {
            .row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .top-item {
                    h4 {
                        @include text ($text-fz-xl, $text-fw-semibold, $text-color-primary);
                        margin-bottom: 20px;
                        text-transform: uppercase;
                    }

                    ul {
                        padding-left: 0;
                        li {
                            list-style-type: none;
                            margin-bottom: 10px;

                            a {
                                text-decoration: none;
                                @include text($text-fz-sm, $text-fw-light, $text-color-primary);

                                &:hover {
                                    color: $text-color-5th;
                                }
                            }
                        }
                    }
                }

                .item-register {
                    h4 {
                        @include text ($text-fz-xl, $text-fw-semibold, $text-color-primary);
                        margin-bottom: 20px;
                        text-transform: uppercase;
                    }

                    .des {
                        @include text($text-fz-sm, $text-fw-light, $text-color-primary);
                        margin-bottom: 10px;
                    }

                    a {
                        @include text($text-fz-sm, $text-fw-light, $text-color-5th);
                        text-decoration: none;
                    }
                }
            }
        }
    }

    .bottom {
        padding: 30px 0;
        background-color: $bg-primary;

        .container {
            .row {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .bottom-item {
                    h4 {
                        @include text ($text-fz-xl, $text-fw-semibold, $text-color-primary);
                        margin-bottom: 20px;
                        text-transform: uppercase;
                    }

                    p {
                        @include text($text-fz-sm, $text-fw-light, $text-color-primary);
                        margin-bottom: 10px;
                    }

                    a {
                        @include text($text-fz-sm, $text-fw-light, $text-color-5th);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}