@import "../helpers/mixin";
@import "../helpers/variable";

.header {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 0;
    .top {
        background-color: $bg-2nd;
        padding: 6px 0;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                img {}
            }

            .cart {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .cart-shop {
                    img {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    margin-right: 40px;

                    @include Responsive ($XS) {
                        margin-right: 10px;
                    }
                }

                .login {
                    margin-right: 40px;

                    @include Responsive ($XS) {
                        margin-right: 10px;
                    }

                    a {
                        text-decoration: none;
                        &:hover {
                            color: #f6b653;
                            cursor: pointer;
                            transition: all 0.5s;
                        }

                        @include text ($text-fz-md, $text-fw-light, $text-color-3nd);
                    }
                }

                .register {
                    a {
                        text-decoration: none;
                        &:hover {
                            color: #f6b653;
                            cursor: pointer;
                            transition: all 0.5s;
                        }

                        @include text ($text-fz-md, $text-fw-light, $text-color-3nd);
                    }
                }
            }
        }
    }

    .navbar-bottom {
        padding: 18px 0;

        .container {
            @include Responsive ($XS) {
                text-align: center;
            }
            a {
                text-decoration: none;
                margin-right: 40px;
                @include text ($text-fz-2xl, $text-fw-regular, $text-color-primary);

                @include Responsive ($XS) {
                    margin-right: 10px;
                    // text-align: center;
                }

                &:hover {
                    color: #f6b653;
                    cursor: pointer;
                    transition: all 0.5s;
                }

            }
        }
    }
}